@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Character;
@{
}

<form asp-action="Edit" method="post">
    <label asp-for="Name">Name: </label><input type="text" asp-for="Name"/>
    <label asp-for="Attack">Attack: </label><input type="number" asp-for="Attack"/>
    <label asp-for="Defense">Defense: </label><input type="number" asp-for="Defense"/>
    <label asp-for="HP">HP: </label><input type="number" asp-for="HP" />
    <button type="submit">Submit</button>
</form>
