@model Fight
@{
    ViewData["Title"] = "Fight";
}

<form asp-action="Fight" method="post" class="form-horizontal">
    <div class="row">
        <div class="col-sm">
            <select asp-for="Character1" class="form-select">
                @foreach (Character c in ViewBag.Characters)
                {
                    <option value="@c.Id">@c.Name</option>
                }
            </select>
        </div>
        <div class="col-sm">
            <h2 class="text-center">VS</h2>
        </div>
        <div class="col-sm">
            <select asp-for="Character2" class="form-select">
                @foreach (Character c in ViewBag.Characters)
                {
                    <option value="@c.Id">@c.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="mt-5 text-center">
        <button type="submit" class="btn btn-danger">
            FIGHT!!!
        </button>
        <br />
        <a asp-action="Index" class="btn btn-secondary mt-2">
            Cancel
        </a>
    </div>
</form>
